@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
.image-container {
  height: 100vh;
  position: relative;
  z-index: 0;
  background-image: url("../images/img3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* .image-container img {
  position: fixed;
  width: 100%;
  height: 80%;
} */

.overlay {
  z-index: -5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  word-spacing: 10px;
}
h1 span {
  color: cyan;
}
p {
  margin-bottom: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  hyphens: auto;
}
.my-hr {
  width: 30%;
  height: 1px;
  margin: 2rem 0;
  background-color: #fff;
  border: none;
}

@media (max-width: 768px) {
  .overlay {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 0.8rem;
    line-height: 1.2;
  }
}

.floating-icon {
  color: #013220;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  cursor: pointer;
  background-color: #d89f55;
  padding: 0.8rem;
  border-radius: 40%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}
.floating-icon svg {
  color: #013220;
}
.floating-icon a {
  text-decoration: none;
  list-style: none;
}

.floating-icon:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.count {
  background: #013220;
  display: flex;
  justify-content: space-around;
}
.count-in {
  padding: 10px 20px;
  background: #d89f55;
  border-radius: 20px;
  border: 1px solid black;
}
.count-in:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}
.course {
  height: 100vh;
  background: #013220;
}
.btn {
  display: flex;
}
.btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #013220;
  background-color: #d89f55;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn button svg {
  margin-left: 10px;
}
.btn button:hover {
  background-color: #013220;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  color: #d89f55;
}

@media (max-width: 768px) {
  .btn button {
    margin: 2rem;
    padding: 6px 15px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .floating-icon {
    bottom: 10px;
    right: 10px;
  }
  .count {
    flex-direction: column;
  }
  .count-in {
    padding: 10px;
    margin: 5px;
    text-align: center;
  }
}
